body {
    background-color: white;
    min-width: 700px;
}

.top-of-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.middle-of-page {
    display: flex;
    flex-direction: column;
    align-self: center;
    border: 1px solid rgb(232, 232, 232);
    font-family: Arial, Helvetica, sans-serif;
    margin: 70px;
    margin-left: 460px;
    margin-right: 460px;
    padding: 20px;
}

h1 { font-weight: normal; }

.sign-in {
    position: relative;
    bottom: 35px;
}
/*.email {
    position: relative;
    font-size: 13px;
    left: 10px;
}

label {
    position: relative;
    bottom: 20px;
}

.password-forgot {
    font-size: 13px;
    position: relative;
    left: 52px;
    word-spacing: 295px;
}

input {
    display: inline-block;
    width: 457px;
    position: relative;
    left: 10px;
    height: 20px;
    border: solid lightgray;
    border-width: 1px;
    font-size: 13px;
    padding: 4px;
    margin-bottom: 30px;
    bottom: 10px;
}

.continue {
    background-color: rgb(246, 198, 70);
    border: solid;
    border-color: lightgrey;
    border-width: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    width: 465px;
    height: 25px;
    font-size: 13px;
    left: 10px;
    bottom: 20px;
}

i {
    color: rgb(136, 156, 255);
    font-size: 11px;
    position: relative;
    left: 40px;
}

.bottom-of-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 100px;
    right: 5px;
}

.n {
    display: flex;
    flex-direction: row;
    color: gray;
}

.n:before, .n:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
    color: gray;
}

.n:before {
    margin-right: 10px
}
  
.n:after {
    margin-left: 10px
    }

.create-your-amazon-account {
    background-color: rgb(231, 233, 237);
    border: solid;
    border-color: lightgray;
    border-width: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    width: 500px;
    height: 23px;
    font-size: 13px;
}

.button {
    text-align: center;
    display: inline-block;
}*/

.footer {
    border-top: 2px solid rgb(173, 177, 185);
    border-top-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 250px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans
serif;
    font-size: 10px;
}

/*
ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 30px;
    justify-content: space-between;
}

.footer-link {
    text-decoration: none;
    color: rgb(101, 171, 255);
    padding: 10px;
    position: relative;
    right: 50px;
}

.copy {
    display: flex;
    position: relative;
    top: 20px;
    font-size: 11px;
}