html, body {
    display: flex;
    flex-direction: column;
    font-family: "Amazon Ember";
    height: 100%;
    margin: 0;
}

.page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 0.7px;
    margin-top: 0.3px;
}

.border-box {
    border: 1px solid rgb(221, 221, 221);
    border-radius: 8px;
    height: 358.5px;
    margin: auto;
    max-width: 348px;
}

h1 {
    font-size: 28px;
    font-weight: 400;
    margin-left: 26px;
    margin-top: 20px;
}

.email-number {
    font-size: 13px;
    font-weight: bold;
    margin-left: 2px;
    margin-top: -7.5px;
}

input {
    border: 1px solid rgb(148, 148, 148);
    border-radius: 3px;
    height: 27px;
    margin-left: -2px;
    margin-top: 4px; 
    outline: none;
    text-indent: 5px;
    width: 290px;
}

input:focus {
    background-color: rgb(247, 254, 255);
    border: 1px solid rgb(1, 114, 133);
    box-shadow: 0 0 0 3px rgb(201, 243, 250);
}

.continue {
    background-color: rgb(255, 217, 21);
    border: none;
    border-radius: 8px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-family: "Amazon Ember";
    font-size: 13px;
    height: 31px;
    margin-top: 14px;
    padding-bottom: 2px;
    padding-right: 5px;
    width: 296px;
}

.continue:hover {
    background-color: rgb(245, 200, 20);
}

.terms {
    font-size: 12px;
    line-height: 18px;
    margin-top: 18px;
    width: 297px;
}

.conditions {
    color: rgb(1, 102, 192);
}

.conditions:hover {
    color: rgb(204, 85, 0);
}

.privacy {
    color: rgb(1, 102, 192);
}

.privacy:hover {
    color: rgb(204, 85, 0);
}

.play-help {
    align-items: center;
    display: flex;
    margin-left: -8.6px;
    margin-top: 16.5px;
    padding-bottom: 18px;
}

.need-help {
    color: rgb(1, 102, 192);
    font-size: 13px;
    margin-left: -1.5px;
    text-decoration: none;
}

.need-help:hover {
    color: rgb(204, 85, 0);
    text-decoration: underline;
}

.underline {
    border-bottom: 1px solid rgb(231, 231, 231);
    margin-top: -0.5px;
    width: 296.3px;
}

.buy {
    font-size: 13px;
    font-weight: bold;
    margin-top: 15.5px;
}

.shop-margin {
    margin-bottom: -3px;
    margin-top: -20px;
}

.shop {
    color: rgb(1, 102, 192);
    font-size: 13px;
    text-decoration: none;
}

.shop:hover {
    color: rgb(204, 85, 0);
    text-decoration: underline;
}

.below-box {
    margin-left: -1px;
    text-align: center;
}

.new {
    color: rgb(118, 118, 118);
    font-size: 12px;
    margin-top: 24px;
}

.new::before, .new::after {
    background-color: rgb(233, 233, 233);
    content: "";
    display: inline-block;
    height: 1px;
    margin-bottom: 5px;
    margin-left: 7px;
    margin-right: 7px;
    width: 122px;
}

.create {
    background-color: white;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 8px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
    font-family: "Amazon Ember";
    font-size: 13px;
    height: 31px;
    margin-bottom: 26px;
    margin-left: 1px;
    margin-top: -1px;
    padding-bottom: 1px;
    padding-left: 7px;
    width: 350px;
}

.create:hover {
    background-color: rgb(249, 252, 252);
}

.footer {
    align-items: center;
    background-image: radial-gradient(rgb(251, 251, 251), rgba(0, 0, 0, 0));
    border-image: radial-gradient(rgb(177, 177, 177), rgba(0, 0, 0, 0)) 1;
    border-top: 2px solid;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 11px;
    padding-top: 42px;
}

.conditions2, .privacy2, .help {
    color: rgb(1, 102, 192);
    margin-right: 4.7px;
    padding: 9.1px;
    text-decoration: none;
}

.conditions2:hover, .privacy2:hover, .help:hover {
    color: rgb(204, 85, 0);
    text-decoration: underline;
}

.copyright {
    align-items: center;
    color: rgb(85, 85, 85);
    display: flex;
    font-size: 11.5;
    margin-top: 15.4px;
}